<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">Add Data</h3>
    </div>
    <form role="form" method="post">
        <div class="card-body">
            <div class="form-group">
                <label for="opt_category">Category</label>
                <input type="hidden" class="form-control" id="id" name="id">
                <select id="opt_category" name="opt_category" class="form-control" placeholder="Product Category">
                    <option value=0>-- Product Category --</option>
                </select>
            </div>
            <div class="form-group">
                <label for="title">Name</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Product name" >
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" class="form-control" id="description" name="description" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" name="price" placeholder="Price" >
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-success">Submit</button>
            <a href="/admin/products" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>
<% block('scripts', `
    <script type="text/javascript">
        $.ajax({
            async: false,
            url: "/admin/categories/showlist",
            method: "GET",
            success: function(data){
                $.each(data, function(i,x){
                    $("#opt_category").append(
                        $('<option></option>').val(x.id).html(x.title)
                    );
                });
            }
        })
    </script>
`) -%>